.aboutcontainer {
  height: 70%;
  width: 80%;
  border-radius: 50px;
  padding: 2%;
  font-size: larger;
  position: absolute;
  left: 7.5vw;
  top: 100%;
  color: #1c1c1c;
  backdrop-filter: blur(5px);
  background-color: #d6dcdf;
  box-shadow: 10px 10px 10px #ecf2f7a2, -10px -10px 10px #ecf2f7a2,
    inset 5px 5px 10px rgba(73, 73, 73, 0.5),
    inset -5px -5px 10px rgba(73, 73, 73, 0.5);
}
.aptContain {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.apsimgscontainer {
  display: flex;
  justify-content: space-evenly;
}
.apsimgs {
  padding: 2%;
  max-width: 60%;
}
@media screen and (max-width: 768px) {
  .aboutcontainer {
    top: 100%;
    height: 48rem;
  }
  .aboutcontainer h1 {
    font-size: x-large;
    text-decoration: underline #d6852d;
  }
  .apsimgscontainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .apsimgs {
    width: 5em;
    height: 5rem;
  }
}
