.redescont {
  margin-top: 15%;
  display: flex;
  justify-content: space-evenly;
}

.redesitem {
  display: flex;
  align-items: center;
}
.redesitem button {
  width: 110px;
  height: 130px;
  background-color: #e4eaee;
  color: #494949;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4), 4px -4px 4px #ecf2f7a2;
  transition: box-shadow 0.3s ease, color 0.3s ease;
}
.redesitem button:hover {
  box-shadow: 3px 3px 3px #d6852d, 3px 3px 3px #f6fbffbb;
  color: #d6852d;
  transition: box-shadow 0.3s ease, color 0.3s ease;
}

.redesitem img {
  margin-right: 5%;
  max-width: 50px;
  max-height: 50px;
}

.numMail {
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
}
.numMail button {
  width: 110px;
  height: 130px;
  background-color: #e4eaee;
  color: #494949;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4), 4px -4px 4px #ecf2f7a2;
  transition: box-shadow 0.3s ease, color 0.3s ease;
}
.numMail button:hover {
  box-shadow: 3px 3px 3px #d6852d, 3px 3px 3px #f6fbffbb;
  color: #d6852d;
  transition: box-shadow 0.3s ease, color 0.3s ease;
}
.numMail img {
  margin-right: 5%;
  max-width: 50px;
  max-height: 50px;
}

.footer {
  text-align: center;
  padding: 10px;
  background-color: #d8dee2;
  color: #1c1c1c;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.divider {
  height: 3px;
  background-color: #d6852d;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4), 4px 4px 4px #ecf2f7a2;
}
