.app {
  overflow-x: hidden;
}

.Home {
  background-color: #d8dee2;
  color: #1c1c1c;
  text-align: center;
  height: 100vh;
  width: 99vw;
  border-top: 1px solid transparent;
}
.About {
  background-color: #d8dee2;
  text-align: center;
  height: 100vh;
  width: 99vw;
  background-repeat: no-repeat;
  border-top: 1px solid transparent;
}
.Technologies {
  background-color: #d8dee2;
  text-align: center;
  height: 100vh;
  width: 99vw;
  border-top: 1px solid transparent;
}
.Technologies H1 {
  margin-top: 5%;
  color: #d6852d;
}
.Proyects {
  background-color: #d8dee2;
  text-align: center;
  height: 100vh;
  width: 99vw;
  border-top: 1px solid transparent;
  overflow: hidden;
}

.Proyects h1 {
  margin-top: 5%;
  color: #d6852d;
}
.Contacts {
  background-color: #d8dee2;
  text-align: center;
  height: 100vh;
  width: 99vw;
  border-top: 1px solid transparent;
  position: relative;
}

.Contacts::after {
  content: "";
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  height: 3px;
  background-color: rgba(255, 0, 0, 0);
  border: none;
  overflow: hidden;
}
.Contacts h3 {
  margin-top: 5%;
  color: #d6852d;
}

.Contacts h1 {
  color: #1c1c1c;
}
