.app {
  overflow-x: hidden;
}

.Landing {
  color: #1c1c1c;
  text-align: center;
  height: 100vh;
  width: 99vw;
  border-top: 1px solid transparent;
}
.welcometxt {
  position: absolute;
  left: 5%;
  top: 30%;
  font-size: large;
}
.welcometxt h1 {
  color: #d6852d;
}
.loremcontainer {
  position: absolute;
  right: 2%;
  top: 30%;
  width: 30%;
}
.loremcontainer h1 {
  color: #d6852d;
}
.mifoto {
  border-radius: 350px;
  width: 30%;
  height: 65%;
  position: absolute;
  top: 19%;
  left: 34.2%;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}
.scrolltxt {
  font-size: 40px;
  width: 10%;
  color: #1c1c1c;
  position: absolute;
  top: 85%;
  left: 45%;
}

.About {
  text-align: center;
  height: 100vh;
  width: 99vw;
  background-repeat: no-repeat;
  border-top: 1px solid transparent;
}
.aboutcontainer {
  height: 80%;
  width: 90%;
  border-radius: 50px;
  padding: 2%;
  font-size: larger;
  position: absolute;
  left: 3%;
  top: 110%;
  backdrop-filter: blur(5px);
  background-color: #d8dee2;

  box-shadow: 10px 10px 10px #ecf2f7a2, -10px -10px 10px #ecf2f7a2,
    inset 5px 5px 10px rgba(73, 73, 73, 0.5),
    inset -5px -5px 10px rgba(73, 73, 73, 0.5);
}
.apsimgscontainer {
  display: flex;
  justify-content: space-evenly;
}
.apsimgs {
  padding: 2%;
  max-width: 275px;
}
.h3imgs {
  display: flex;
  justify-content: space-around;
  color: #1c1c1c;
}
.Technologies {
  text-align: center;
  height: 100vh;
  width: 99vw;
  margin-top: 8%;
  border-top: 1px solid transparent;
}
.Technologies H1 {
  margin-top: 5%;
  color: #d6852d;
}
.Technologiescontainer {
  display: flex;
  justify-content: space-evenly;
  max-width: 100%;
  margin: 0 auto;
}
.Technologiescontainer img {
  background-color: #d8dee2;
  padding: 1%;
  border-radius: 15%;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4), 4px -4px 4px #ecf2f7a2;
  max-width: 200px;
  transition: box-shadow 0.3s ease; /* Agregamos una transición suave a la propiedad box-shadow */
}

.Technologiescontainer img:hover {
  box-shadow: 3px 3px 3px #d6852d, 3px 3px 3px #f6fbffa2;
}
.Technologies2container {
  margin-top: 10%;
  display: flex;
  justify-content: space-evenly;
}
.Technologies2container img {
  background-color: #d8dee2;
  padding: 1%;
  border-radius: 15%;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4), 4px -4px 4px #ecf2f7a2;
  transition: box-shadow 0.3s ease;
  max-width: 100px;
}
.Technologies2container img:hover {
  box-shadow: 3px 3px 3px #d6852d, 3px 3px 3px #f6fbffa2;
}
.Proyects {
  text-align: center;
  margin-top: 15%;
  height: 100vh;
  width: 99vw;
  border-top: 1px solid transparent;
  overflow: hidden;
}

.Proyects h1 {
  margin-top: 5%;
  color: #d6852d;
}

.slidecontainer {
  margin-top: 1%;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  height: 100%;
  overflow: hidden;
}

.imgslide {
  display: flex;
  flex-direction: column;
}

.imgslide img {
  max-width: 550px;
  max-height: 500px;
  border-radius: 5%;
}
.imgContainer {
  width: 800px;
  height: 500px;
}

.repos {
  display: flex;
  justify-content: center;
}

.repos a {
  margin: 2%;
}

.textContainer {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
  overflow: hidden; /* Evita el desbordamiento vertical */
}

.textContainer h3 {
  font-size: 22px;
}
.Contacts {
  text-align: center;
  height: 100vh;
  width: 99vw;
  border-top: 1px solid transparent;
  position: relative;
}

.Contacts::after {
  content: ""; /* Agregamos contenido al pseudo-elemento */
  position: absolute;
  bottom: 10%; /* Margen inferior del 10% */
  left: 0; /* Desde el borde izquierdo */
  right: 0; /* Hasta el borde derecho */
  height: 3px; /* Altura de la línea */
  background-color: rgba(255, 0, 0, 0); /* Color de la línea */
  border: none;
  overflow: hidden;
}
.Contacts h3 {
  margin-top: 5%;
  color: #d6852d;
}
.redescont {
  margin-top: 15%;
  display: flex;
  justify-content: space-evenly;
}

.redesitem {
  display: flex;
  align-items: center;
}
.redesitem button {
  width: 110px;
  height: 130px;
  background-color: #e4eaee;
  color: #494949;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4), 4px -4px 4px #ecf2f7a2;
  transition: box-shadow 0.3s ease, color 0.3s ease;
}
.redesitem button:hover {
  box-shadow: 3px 3px 3px #d6852d, 3px 3px 3px #f6fbffbb;
  color: #d6852d; /* Cambiamos el color del texto a rojo en hover */
  transition: box-shadow 0.3s ease, color 0.3s ease;
}

.redesitem img {
  margin-right: 5%;
  max-width: 50px;
  max-height: 50px;
}

.numMail {
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
}
.numMail button {
  width: 110px;
  height: 130px;
  background-color: #e4eaee;
  color: #494949;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4), 4px -4px 4px #ecf2f7a2;
  transition: box-shadow 0.3s ease, color 0.3s ease;
}
.numMail button:hover {
  box-shadow: 3px 3px 3px #d6852d, 3px 3px 3px #f6fbffbb;
  color: #d6852d; /* Cambiamos el color del texto a rojo en hover */
  transition: box-shadow 0.3s ease, color 0.3s ease;
}
.numMail img {
  margin-right: 5%;
  max-width: 50px;
  max-height: 50px;
}

.footer {
  text-align: center;
  padding: 10px;
  background-color: #d8dee2;
  color: #1c1c1c;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.divider {
  height: 3px;
  background-color: #d6852d;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4), 4px 4px 4px #ecf2f7a2;
}
